.navbar{
background-color: grey;
border-radius: 15px;
}
.navbar ul{
    overflow: auto;
}

.navbar li{
    list-style-type: none;
    float: left;
    padding: 10px 9px;
}
.navbar li a{
    text-decoration:none;
    color: black;
}
.navbar li a:hover{

    background-color: gold;
    font-size: large;
}
.search{
    float: right;
    padding: 4px 7px;
    margin: 5px 34px;
    
}
#search{
    border-radius: 14px;
}
html{
    background-color: black;
    /* background-image:url("motiva.jpg"); */
}
.img{
   text-align: center;
   margin-top: 10%;
}
p{
    text-align: center;
    color:gold;
    font-size: large;
}